* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.sh text eol=lf
Makefile text eol=lf
*.conf text eol=lf
*.ini text eol=lf
*.cnf text eol=lf
*.template text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
